$yellow: #fffa19;
$red: #ff0000;
$green: #00ff00;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;	
}

.jumbotron {
	background-color: $yellow;
	color: $red;
	@include margenes (50px, 0px);
}
.btn {
	background-color: $green;
	color: $red;
}
.foot{
	padding: 10px 10px 0px 10px;
	background-color: $yellow;
	color: $red;
	@include margenes (0px, 10px);
}
.card-tecnico{
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	@include margenes (10px, 0px);

}
.btn-info{
	width: 100%;
}
.foot-add-icon{
	padding-right: 10px;
}