.jumbotron {
  background-color: #fffa19;
  color: #ff0000;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: #00ff00;
  color: #ff0000; }

.foot {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  color: #ff0000;
  margin-top: 0px;
  margin-bottom: 10px; }

.card-tecnico {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-info {
  width: 100%; }

.foot-add-icon {
  padding-right: 10px; }
