.jumbotron {
	background-color: red;
	color: white;
	margin-top: 50px;
}
.btn {
	background-color: red;
	color: white;
}
.foot{
	padding: 10px 10px 0px 10px;
	background-color: red;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-tecnico{
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;

}
.btn-info{
	width: 100%;
}
.foot-add-icon{
	padding-right: 10px;
}

.phone-icon{
	color: white;
}